<div class="container">
    <!-- Modals -->
    <div class="modal fade" tabindex="-1" role="dialog" id="contactoModal" ng-controller="commentsCtrl as ctrl">
        <div class="container">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button id="id_button_close" type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contáctenos</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header">

                <form id="formComments" name="formComments">
                    <div class="form-group">
                        <label class="control-label" for="comment">Comentario:</label>
                        <textarea ng-model="ctrl.comment" id="comment" name="comment" class="form-control" rows="5" cols="40" ng-required="true"></textarea>
                    </div>
                    {{ ctrl.requestState }}
                    <span id="areaMensaje" style="color:red;"></span>
                    <button type="submit" ng-disabled="formComments.$invalid" class="btn btn-primary" ng-click = "ctrl.registerComment(ctrl.comment)">Enviar</button>
                    <button data-dismiss="modal" class="btn btn-default">Volver</button>
                </form>

            </div>
            </div>
        </div>
    </div>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="clientModal" ng-controller="clientsCtrl as ctrl" ng-init="ctrl.getClient()"  >
        <div class="container">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button id="id_button_close" type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Información del perfil ({{ infoClient.username }})</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-8">
                        <div class="page-header">
                            <form id="formUser" name="formUser">
                                <div class="form-group">
                                    <label class="control-label" for="username">Nombre:</label>
                                    <input type="text" id="username" name="username" class="form-control" ng-model="infoClient.firstname">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="username">Apellidos:</label>
                                    <input type="text" id="username" name="username" class="form-control" ng-model="infoClient.lastname">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="email">E-mail:</label>
                                    <input type="text" id="email" name="email" class="form-control" ng-model="infoClient.email" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="address">Dirección:</label>
                                    <input type="text" id="address" name="address" class="form-control" ng-model="infoClient.address">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="phone">Teléfono:</label>
                                    <input type="text" id="phone" name="phone" class="form-control" ng-model="infoClient.phone">
                                </div>
                                <button type="submit"  ng-disabled="formUser.$invalid" class="btn btn-primary" ng-click="ctrl.updateClient()">Enviar</button>
                                <button data-dismiss="modal" class="btn btn-default">Volver</button>
                            </form>

                        </div>
                    </div>
        </div>
    </div>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




<div class="container">
    <!-- Modals -->
    <div class="modal fade" tabindex="-1" role="dialog" id="loginModal" ng-controller="loginCtrl as ctrl">
        <div class="container">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button id="id_button_close" type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Iniciar Sesión</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header">

                <div class="alert alert-danger" ng-if="error">
                    Usuario y/o Contraseña Invalida
                </div>

                    <div class="form-group">
                        <label class="control-label" for="username">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" ng-model="user.password">
                    </div>

                <button type="submit" class="btn btn-primary" ng-click="ctrl.logIn()">Iniciar Sesión</button>
            </div>
            </div>
        </div>
    </div>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
<div ng-controller="shoppingItemsCtrl as ctrl">
    <div class="modal fade" tabindex="-1" role="dialog" id="shoppingItemsModal" name="shoppingItemsModal"  ng-init="ctrl.getShoppingItems()" >

        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Productos</h4>
              </div>
              <div class="modal-body">

                  <div id="cart-sidebar" class="cart-sidebar">
                      <div  class="cart-wrapper col-sm-12">
                          <div class="cart-items" ng-repeat="record in shoppingItems">
                            <div class="cart-item-div ng-scope" ng-repeat="product in record.products ">
                                <div class="qty cart-item-cell">{{ record.quantity }}</div>
                                <div class="image cart-item-cell">
                                   <img ng-src="{{ product.image }}" style="margin:auto; height: 300px; width: 100%" alt="{{ product.name }}">
                                </div>
                                <div class="name cart-item-cell">
                                    <div>{{ product.name }}</div>
                                    <small>{{ product.unit_value }} {{ product.unit }}</small>
                                </div>
                                <div class="price cart-item-cell">
                                   <label>{{ record.quantity * product.price | currency:undefined:0}} </label>
                                </div>
                                <div class="remove-cart cart-item-cell">
                                    <a href="#/main" data-action="reload" ng-click="ctrl.deleteProduct(record.id);ctrl.getShoppingItems();"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="cart-item-div ng-scope" ng-repeat="basket in record.baskets ">
                                <div class="qty cart-item-cell">{{ record.quantity }}</div>
                                <div class="image cart-item-cell">
                                    <img ng-src="http://www.frutasluisi.eu/wp-content/uploads/2014/04/05-frutas-luisi.jpg" style="margin:auto; height: 300px; width: 100%" alt="{{ basket.name }}">

                                </div>
                                <div class="name cart-item-cell">
                                    <div>{{ basket.name }}</div>
                                    <small>{{ record.price  | currency:undefined:0  }} c/u </small>
                                </div>
                                <div class="price cart-item-cell">
                                    <label>{{ record.quantity * record.price | currency:undefined:0 }}</label>
                                </div>
                                <div class="remove-cart cart-item-cell">
                                    <a href="#/main" ng-click="ctrl.deleteProduct(record.id);ctrl.getShoppingItems();"><i class="fa fa-times"></i></a>
                                </div>

                            </div>
                        </div>

                          <div align="center">
                            <img align="center" width="30px" height="30px" id="mySpinner" src="static/src/modules/main/img/spinner.gif" ng-show="loading" />
                          </div>
                      </div>
                    <div class="cart-options"></div>
                  </div>
              </div>
              <div class="modal-footer">
                  <div id="msgProcesando" style="color:red;"></div>
                  <button type="button" class="btn btn-primary" href="#/main" data-toggle="modal" data-target="#paymentModal"><span class="glyphicon glyphicon-plus"></span>Pagar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <button style="display: none" id="btnCarrito" type="button" class="btn btn-success" data-toggle="modal" data-target="#shoppingItemsModal" ng-click="ctrl.getShoppingItems()"><strong>btn aux para ver carrito</strong></button>

</div>

    <!-- modal payment -->
    <div class="modal fade" tabindex="-1" role="dialog" id="paymentModal" name="paymentModal" ng-controller="paymentCtrl as ctrl" ng-init="ctrl.getShoppingItems()">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pago</h4>
              </div>
              <div class="modal-body">
                 <div class="col-md-30 col-md-offset-3">
                    <div class="col-md-30" style="margin: auto"><div class="panel panel-default" style="margin-left: -150px;"><div class="panel-heading"><h3 class="panel-title">Formulario de Pago</h3></div><div class="panel-body">
                                <div style="margin-top: 20px;" >

                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Subtotal</th><td><div>{{total| currency}}</div></td>
                                                </tr>
                                                <tr>
                                                    <th>Iva</th><td><div>{{taxes| currency}}</div></td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th><td><div>{{totalandtaxes| currency}}</div></td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Seleccionar Método de pago:</th><td><div>
                                                            <select ng-model="paymentMethod"  class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required>
                                                                <option value=''>Método de pago...</option>
                                                                <option value='1'>Tarjeta de crédito</option>
                                                                <option value='2'>PSE</option>
                                                            </select></div></td>
                                                </tr>
                                                <tr ng-if="paymentMethod!==''">

                                                        <a ng-if="paymentMethod==='1'" ng-href="http://static1.squarespace.com/static/530e5705e4b0576b4fd5b6b1/t/53c44adde4b012c9ea0e0951/1394129659548/credit-cards.png" target="_blank"><img class="img-responsive" style="height: 6vw;" ng-src="http://static1.squarespace.com/static/530e5705e4b0576b4fd5b6b1/t/53c44adde4b012c9ea0e0951/1394129659548/credit-cards.png" alt="http://static1.squarespace.com/static/530e5705e4b0576b4fd5b6b1/t/53c44adde4b012c9ea0e0951/1394129659548/credit-cards.png"></a>
                                                        <a ng-if="paymentMethod==='2'" ng-href="http://www.bancofalabella.com.co/Data/Sites/1/icons/logoPSE.png" target="_blank"><img class="img-responsive" style="height: 6vw;" ng-src="http://www.bancofalabella.com.co/Data/Sites/1/icons/logoPSE.png" alt="http://www.bancofalabella.com.co/Data/Sites/1/icons/logoPSE.png"></a>
                                                </tr>
                                                <tr ng-if="paymentMethod==='1'">
                                                    <th>
                                                        Número de tarjeta:</th><td><div>
                                                            <input type="text" ng-model="$parent.cardNumber" ng-pattern="/^[0-9]*$/" name="cardNumber"
                                                                   class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                                                                   ></div></td>
                                                </tr>
                                                <tr ng-if="paymentMethod==='1'">
                                                    <th>
                                                        CCV:</th><td><div>
                                                            <input type="text" ng-model="ccv" ng-pattern="/^[0-9]*$/" name="ccv" maxlength="4"
                                                                   class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required
                                                                   ></div></td>
                                                </tr>
                                                <tr ng-if="paymentMethod==='1'">
                                                    <th>
                                                        Mes de vencimiento:</th><td><div>
                                                            <select ng-model="expMM"  class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required>
                                                                <option value=''>Mes...</option>
                                                                <option value='01'>Enero</option>
                                                                <option value='02'>Febrero</option>
                                                                <option value='03'>Marzo</option>
                                                                <option value='04'>Abril</option>
                                                                <option value='05'>Mayo</option>
                                                                <option value='06'>Junio</option>
                                                                <option value='07'>Julio</option>
                                                                <option value='08'>Agosto</option>
                                                                <option value='09'>Septiembre</option>
                                                                <option value='10'>Octubre</option>
                                                                <option value='11'>Noviembre</option>
                                                                <option value='12'>Deciembre</option>
                                                            </select></div></td>
                                                </tr>
                                                <tr ng-if="paymentMethod==='1'">
                                                    <th>
                                                        Año de vencimiento:</th><td><div>
                                                            <select ng-model="expYY"  class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required>
                                                                <option value=''>Año...</option>
                                                                <option value='01'>2015</option>
                                                                <option value='02'>2016</option>
                                                                <option value='03'>2017</option>
                                                                <option value='04'>2018</option>
                                                                <option value='05'>2019</option>
                                                                <option value='06'>2020</option>
                                                                <option value='07'>2021</option>
                                                                <option value='08'>2022</option>
                                                            </select></div></td>
                                                </tr>
                                                <tr ng-if="paymentMethod==='2'">
                                                    <th>
                                                        Banco:</th><td><div>
                                                            <select ng-model="bank"  class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required>
                                                                <option value=''>Banco...</option>
                                                                <option value='01'>AV Villas</option>
                                                                <option value='01'>Bancolombia</option>
                                                                <option value='02'>Banco de Bogota</option>
                                                                <option value='06'>Banco Popular</option>
                                                                <option value='05'>City Bank</option>
                                                                <option value='05'>Davivienda</option>
                                                                <option value='04'>Helm Bank</option>
                                                            </select></div></td>
                                                </tr>
                                                <tr ng-if="paymentMethod==='2'">
                                                    <th>
                                                        Número de cuenta:</th><td><div>
                                                            <input type="text" ng-model="$parent.cardNumber" ng-pattern="/^[0-9]*$/" name="cardNumberDebit"
                                                                   class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required
                                                                   ></div></td>
                                                </tr>
                                                <tr ng-if="paymentMethod==='2'">
                                                    <th>
                                                        Contraseña:</th><td><div>
                                                            <input type="password" ng-model="password" ng-pattern="/^[0-9]*$/" name="password"
                                                                   maxlength="4"
                                                                   class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required
                                                                   ></div></td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Fechas de Entrega:</th><td><div>
                                                            <input type="button" ng-model="button" name="Seleccionar" data-toggle="modal" data-target="#deliveryModal"
                                                               value="Seleccionar"  style="width: 50%"  class="btn btn-primary btn-sm" required
                                                            ></div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <input ng-if="paymentMethod===''" class="btn btn-lg btn-success btn-block" ng-click="endPayment()" type="submit" value="Pagar" disabled="true">
                                        <input ng-if="paymentMethod!==''" class="btn btn-lg btn-success btn-block" ng-click="endPayment()" type="submit" value="Pagar">
                                        <button class="btn btn-lg btn-default btn-block" ng-click="reset()">Limpiar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    <!-- modal delivery dates -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deliveryModal" name="deliveryModal" ng-controller="deliveriesCtrl as ctrl" ng-init="ctrl.getDates()">
            <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fechas de Entrega</h4>
              </div>
              <div class="modal-body">
                 <div class="col-md-30 col-md-offset-3">
                    <div class="col-md-30" style="margin: auto"><div class="panel panel-default" style="margin-left: -150px;"><div class="panel-heading"><h3 class="panel-title"></h3></div><div class="panel-body">
                                <div style="margin-top: 20px;" >

                                    <div ng-repeat="deliveries in filteredDeliveries | filter: search">
                                        <div class="col-md-30 col-md-offset-3" style="padding: 5px;">
                                            <div class="caption">

                                                <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <th>{{ deliveries.day }}</th><td><div style="text-align: right;"><input type="radio" name="fecha">{{ deliveries.date }}</div></td>

                                                </tr>
                                                </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                      <div class="modal-footer">
                                          <div id="msgAutenticacion" style="color: red;"></div>
                                          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="ctrl.initDates()"><span class="glyphicon glyphicon-plus"></span>Aceptar</button>
                                      </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>


    <!-- Header -->
    <header style="font-size:8px height:300px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name">MarketPlace Orgánico</span>
                        <hr class="star-light">
                        <span class="skills">Tu lugar favorito</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Section -->
    <div align="center" class="container" ng-controller="productsCtrl as ctrl" ng-init="ctrl.getProducts()">
    <div align="center">
        <img align="center" id="mySpinner" src="static/src/modules/main/img/spinner.gif" ng-show="loading"/>
    </div>

    <div class="col-sm-12">
        <div class="row" style="margin-top: 10px;">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Buscar productos" ng-model="search" style="width: 52%; left: 25%"/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" style="right: 250%"><i class="fa fa-search"> Buscar</i></button>
                        </span>
                </div>
            <br/>
                <label>Productos certíficados
                <input type="checkbox" ng-model="certified" ng-change="ctrl.getProducts()">
                <br/><br/>
            </div>
        </div>
        <pagination ng-model="currentPage" total-items="products.length" max-size="maxSize" boundary-links="true"/>
        <div ng-repeat="product in filteredProducts | filter: search">
            <div class="col-md-4 col-sm-6 col-lg-4 well" style="padding: 5px;">
                <div class="caption">
                    <h4 align="center"><strong>{{ product.name }}</strong></h4>
                    <img ng-src="{{ product.image }}" style="margin:auto; height: 280px; width: 90%"
                         alt="{{ product.name }}">
                    <div class="caption">
                        <h2><strong>{{ product.price | currency:undefined:0}}</strong></h2>
                        <h4>
                            <small>{{ product.unit_value }} {{ product.unit }}</small>
                        </h4>
                    </div>
                    <p>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="ctrl.getDetails( product.id )"><strong>VER DETALLE</strong></button>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.initDetails()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ details.name }}</h4>
              </div>
              <div class="modal-body">
                  <img ng-src="{{ details.image }}"
                         alt="{{ details.name }}">
                    <div class="caption">
                        <h2><strong>{{ details.price | currency:undefined:0}}</strong></h2>
                        <h4>
                            <small>{{ details.unit_value }} {{ details.unit }}</small>
                        </h4>
                        <div class="descripcion">
                            <h5><small>{{ details.description}}</small></h5>
                        </div>
                        <h4><strong>Stock: {{ details.stock*details.unit_value }} {{ details.unit}}</strong></h4>
                    </div>
              </div>
              <div class="modal-footer">
                  <div id="msgNoAutenticado"style="color: red;"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.initDetails()"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
                <button type="button" class="btn btn-twitter" ng-click="ctrl.shareTwitter(details)"><span class="fa fa-twitter"></span></button>
                <button type="button" class="btn btn-primary" ng-controller="shoppingItemsCtrl as ctrl" ng-click="ctrl.addProduct(details.id, 'product');"><span class="glyphicon glyphicon-plus"></span>Agregar</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

</div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Ubicación</h3>
                        <p>Grupo 5</p>
                        <p>Universidad de los Andes, Bogotá - Colombia</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Qué pasa en Twitter</h3>
                        <div id="twitter">
                            <a class="twitter-timeline" href="https://twitter.com/MpOrganico"
                                data-widget-id="708478944547311616">Tweets by @MpOrganico</a>
                        </div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Autores</h3>
                        <p>Catherine Velandia<br>Alejandro Pérez<br>Andrés Delgado<br>Abimelec Cuesta<br>Mario Lancheros</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Marketing Orgánico 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- Twitter-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js">
        twttr.widgets.load()
    </script>
