<div class="container">

    </div>
    <!-- Header -->
    <header style="font-size:8px height:300px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" style="max-width: 15%" src="static/src/modules/main/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">MarketPlace Orgánico</span>
                        <hr class="star-light">
                        <span class="skills">Tu lugar favorito</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Section -->
<div align="center" class="container" ng-controller="productsCtrl as ctrl" ng-init="ctrl.getProducts()">
    <div align="center">
        <img align="center" id="mySpinner" src="static/src/modules/main/img/spinner.gif" ng-show="loading"/>
    </div>

    <div class="col-sm-12">
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Buscar productos" ng-model="search"/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><i class="fa fa-search"> Buscar</i></button>
                        </span>
                </div>
                <label>Productos certíficados
                <input type="checkbox" ng-model="certified" ng-change="ctrl.getProducts()">
                <br/><br/>
            </div>
        </div>
        <div ng-repeat="product in products | filter: search">
            <div class="col-md-4 col-sm-6 col-lg-4 well" style="padding: 5px;">
                <div class="caption">
                    <h4 align="center"><strong>{{ product.name }}</strong></h4>
                    <img ng-src="{{ product.image_url }}" style="margin:auto; height: 300px; width: 100%"
                         alt="{{ product.name }}">
                    <div class="caption">
                        <h2><strong>{{ product.price | currency:undefined:0}}</strong></h2>
                        <h4>
                            <small>{{ product.unit_value }} {{ product.unit_name }} c/u</small>
                        </h4>
                    </div>
                    <p>
                        <button type="button" class="btn btn-success"><strong>VER DETALLE</strong></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Ubicación</h3>
                        <p>Grupo 5</p>
                        <p>Universidad de los Andes, Bogotá - Colombia</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Qué pasa en Twitter</h3>
                        <div id="twitter">
                            <a class="twitter-timeline" href="https://twitter.com/MpOrganico"
                                data-widget-id="708478944547311616">Tweets by @MpOrganico</a>
                        </div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Autores</h3>
                        <p>Catherine Velandia<br>Alejandro Pérez<br>Andrés Delgado<br>Abimelec Cuesta<br>Mario Lancheros</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Marketing Orgánico 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- Twitter-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js">
        twttr.widgets.load()
    </script>

