amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.22
boto==2.39.0
boto3==1.3.0
botocore==1.4.5
celery==3.1.20
dj-database-url==0.4.0
Django==1.9.4
django-bmemcached==0.2.3
django-celery==3.1.17
django-cors-headers==1.1.0
django-mongodb-engine==0.6.0
django-redis-cache==1.6.5
django-ses==0.7.0
django-storages==1.4
djangotoolbox==1.8.0
docutils==0.12
enum34==1.1.2
funcsigs==0.4
futures==3.0.5
gunicorn==19.4.5
jmespath==0.9.0
kombu==3.0.33
mock==1.3.0
mongoengine==0.10.6
pbr==1.8.1
Pillow==3.1.1
psycopg2==2.6.1
pymongo==3.2.2
python-binary-memcached==0.24.6
python-dateutil==2.5.1
python-memcached==1.57
pytz==2015.7
redis==2.10.5
selenium==2.53.1
six==1.10.0
virtualenv==14.0.5
whitenoise==2.0.6
