<!-- Header -->
    <header style="font-size:8px height:300px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">
                        <span class="name">MarketPlace Orgánico</span>
                        <hr class="star-light">
                        <span class="skills">Tu lugar favorito</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div align="center" class="container" ng-controller="providersCtrl as ctrl" ng-init="ctrl.getProviders()">
    <div align="center">
        <img align="center" id="mySpinner" src="static/src/modules/main/img/spinner.gif" ng-show="loading"/>
    </div>

    <div class="col-sm-12">

        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Buscar proveedor" ng-model="search"/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><i class="fa fa-search"> Buscar</i></button>
                        </span>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="certified" ng-change="ctrl.getProviders()"> Productores certíficados
                    </label>
                </div>

                <br/><br/>
                <br/><br/>
            </div>
        </div>

        <pagination ng-model="currentPage" total-items="providers.length" max-size="maxSize" boundary-links="true"/>
        <div ng-repeat="providers in filteredProviders | filter: search">
            <div class="col-md-4 col-sm-6 col-lg-4 well" style="padding: 5px;">
                <div class="caption">
                    <h3 align="center"><strong>{{ providers.farm }} </strong></h3>

                        <img onmousemove="" style="margin:auto; height: 180px; width: 80%" src="https://maps.googleapis.com/maps/api/staticmap?center={{ providers.latitud }},{{ providers.longitude }}&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7Clabel:C%7C{{ providers.latitud }},{{ providers.longitude }}&key=AIzaSyCL1qoAd2fWDwWM8y-SyngJ42ywrReHAEM">

                        <h5 align="center"><strong> Productor: {{ providers.username }} </strong></h5>

                        <h5 align="center">
                            <small> {{ providers.email }}</small>
                        </h5>
                        <h5 align="center">
                            <small> Tamaño: {{ providers.size }}</small>
                        </h5>
                        <h5 align="center">
                            <small> Certificado:
                                <input  type="checkbox" ng-model="providers.certificado" disabled="true">
                            </small>
                        </h5>
                </div>
            </div>
        </div>

    </div>
</div>